.temp() {
  outline: 1px solid black;
}

.center(@total-width) {
  width: 0px + @total-width;
  margin: 0 auto;
  overflow: hidden;
}

.centerfluid() {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.box(@size) {
  width: @size * 1px;
  height: @size * 1px;
}

.left_triangle(@side: 50px, @color: orange) {
  @itsSide: @side * 1px;
  width: 0;
  height: 0;
  border-right: (@itsSide * 2) solid @color;
  border-top: @itsSide solid transparent;
  border-bottom: @itsSide solid transparent;
}

.up_triangle(@side: 60px, @color: green) {
  @itsSide: @side * 1px;
  width: 0;
  height: 0;
  border-bottom: (@itsSide * 2) solid @color;
  border-left: @itsSide solid transparent;
  border-right: @itsSide solid transparent;
}

.vertical_align(@height) { //remember: its wrapper must be "position relative"
  @curHeight: @height * 1px;
  height: @curHeight;
  position: absolute;
  top: 50%;
  margin-top: -1px * (@curHeight / 2);
}