@import 'libs/mixins.less';

#content {
  @contentWidth: 720px;

  @border: 1px double black;
  border-left: @border;
  border-right: @border;
  .center(720px);
  padding: 5px;

  #systems {
	margin-top: 15px;
  }

  #dailyEnergy {
	margin-top: 30px;
  }

  #totalEnergy {
	margin-top: 10px;
  }

  #dailyProfit {
	margin-top: 10px;
  }

  .importantInfo {
	font-size: 24px;
	font-weight: bold;
  }

  #charts {
	margin-top: 25px;
	text-align: center;
	img {
	  margin-top: 15px;
	  width: @contentWidth * 90 / 100
	}
  }

  #chart_explanation {
	margin-top: 20px;
	font-style: italic;
	font-size: small;
  }

  #footer {
	font-size: smaller;
	color: #778899;
	margin-top: 35px;
  }
}

#banner {
  position: relative;
  height: 100px;
  background-color: #191970;

  padding: 10px;

  @khakiColor: #f0e68c;

  @headerHeight: 90px;

  @companyNameSize: @headerHeight - 10px;

  #header {
	.vertical_align(@headerHeight);

	margin-left: 10px;

	#logo {
	  display: inline-block;
	  img {
		.box(@headerHeight);
	  }
	}

	#companyName {
	  font-size: @companyNameSize;
	  display: inline-block;
	  margin-left: 5px;
	  color: @khakiColor;
	}
  }

  #dateToday {
	font-size: @companyNameSize * 30 / 100;
	color: darken(@khakiColor, 20%);
	float: right;
  }
}